.cartdropdown{
    width: 250px;
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    left:80%;
    top:8.5%;
    z-index: 1;
    height: 200px;
    background-color: wheat;
    overflow-y: scroll;
}
.cartdropdown li{
    color: black;
    border-bottom: 3px solid #e5eaf0;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.cartdropdown li span:nth-child(3){
    cursor: pointer;
}

.hidden{
    display: none;
}