.card{
    width: 900px;
    height: 350px;
    background-color: white;
    border-bottom: 3px solid #e5eaf0;
    display:flex;
}
.card  img{
    width: 250px;
    /* height:200px; */
    margin:2.8rem ;
}
.card  .text{
    /* width: 250px; */
    /* height:200px; */
    margin:3.9rem 5px ;
    letter-spacing: 0.3px;
}  
.card  .text p{
    margin: 10px 0;
}

