.parent {
  position: relative;
}

.cart {
  position: absolute;
  left: 80%;
  top: 3.5%;
}

.heart {
  position: absolute;
  left: 77%;
  top: 3.5%;
}

.hidden {
  display: none;
}
.form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
